body {
    margin-top: 80px;
    font-family: "EuclidSquare", "Calibri";
}
#logout {
    position: absolute;
    right: 5%;
  }
.btn-outline-success {
    color: #008200 !important;
    border-color: #008200 !important;
  }
.btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:visited {
  color: #fff !important;
  background-color: #00e600 !important;
  border-color: #00e600 !important;
}